<h1>AjaxTest#myaction</h1>
<p>Find me in app/views/ajax_test/myaction.html.erb</p>
<p><a href="javascript:void(0)" onclick="alert('Hello!');">Inline alert()</a></p>
<p><a href="javascript:void(0)" onclick="customAlert();">Alert() function</a></p>
<p><a href="javascript:void(0)" onclick="serverSideAlert();">Server Side Alert()</a></p>
<%= link_to "Inline alert", 'myresponse' , :remote => true %>
<p id="response"></p>


